@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;800&display=swap');

@import "colors";

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%; 
    height: auto;
}

.tilbudContainer {
    display: flex;
    align-items: center;
    margin: 0 20px 0 20px;
    flex-wrap: wrap;

    .tilbudWrapper {
        display: flex;
        flex-direction: column;
    }

    .reverse, .tiptop {
        margin-top: 50px;
    }

    .tilbudItem {
        justify-content: center;
        color: $darkBlue;
        
        video {
            width: 100%;
            height: auto;
            transform: scaleX(-1);
            border: 0;
        }

        h1 {
            font-weight: 800;
            font-size: 32px;
        }

        hr {
            border: $darkBlue solid 2px;
            width: 133px;
            margin-left: 0;
            background: $darkBlue;
        }

        p {
            font-weight: 400;
            font-size: 14px;
        }
    }
   
    @media only screen and (min-width: 768px) {

            margin: 0 100px !important;

justify-content: center;

        .tilbudWrapper {
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
        }

        .reverse {
            flex-direction: row-reverse;

        }

        .tilbudItem {
            h1 {
              font-size: 32px;
            }
        }


    
    }

    @media only screen and (min-width: 1440px) {

        margin: 0 300px;

        .tilbudWrapper {
            width: 100%;
        }

        .tilbudItem {
            width: 40%;
            align-content: center;

            video {
                width: 408px;
            }

            h1 {
                font-size: 64px;
            }
            
        }
    }
    
}