@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap');

// FONT SKAL STÅ SÅDAN HER: font-family: 'Raleway', sans-serif;

@import "colors";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

ol, ul {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%; 
    height: auto;
}
